{{ if .isUnix -}}
#!/usr/bin/env bash

# mason lock hash: {{ include (joinPath .chezmoi.homeDir ".config/nvim/mason-lock.json") | sha256sum }}

{{ includeTemplate "scripts/helpers-unix.sh" . }}

nvim --headless "+MasonLockRestoreSync"
{{- end }}
