{{ if .isWindows -}}

# lazy-lock.json hash: {{ include (joinPath .chezmoi.homeDir ".config/nvim/lazy-lock.json") | sha256sum }}

{{ includeTemplate "scripts/helpers-windows.ps1" . }}

nvim --headless "+Lazy! restore" +qa
{{- end }}
