{{ if .isWSL }}
{{ includeTemplate "scripts/install_wsl.sh" . }}
{{- else if .isMacOs }}
{{ includeTemplate "scripts/install_macos.sh" . }}
{{- else if .isUbuntu }}
{{ includeTemplate "scripts/install_ubuntu.sh" . }}
{{- end }}
